/* plaette: #142850 #27496D #0C7B93 #00A8CC */
@font-face {
  font-family: "Rubik";
  src: url(/fileshare/Rubik.ttf) format("truetype");
}

html {
  background-color: #142850;
}

body {
  margin: 0;
}

body * {
  font-size: 7vw;
  font-family: Rubik, sans-serif;
  color: white;
}

.navbar {
  border: 0 solid #00a8cc;
  border-bottom-width: 4px;
  background-color: #27496d;
}

.navbar > div {
  margin: 0 0.07ch 0.25ch 0.07ch;
}

.navbar div {
  display: flex;
  align-items: center;
}

.navbar input[type="checkbox"] {
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.3ch;
  margin-left: 0.4ch;
}

.cbt {
  font-size: 65%;
}

.navbar button {
  background-color: #00a8cc;
  border-radius: 0.3em;
  border-width: 0;
  padding: 0.3ch 1ch;
}

.tbbd button {
  margin: 0 0.15ch;
  flex: 1;
}

#folderview {
  display: flex;
  flex-direction: column;
}

#folderview a {
  background-color: transparent;
  border-width: 0;
  padding: 1.3ch;
  margin: 3px;
  border-radius: 1ch;
  text-align: left;
	text-decoration: none;
}

#folderview .selected {
  background-color: #00a8cc;
}

#folderview .selected:hover {
  background-color: #00b7dc;
}

#folderview a:hover {
  background-color: #0c7b93;
}

#progress-bar {
  display: none;
  margin-left: calc(0.37ch / 2);
  width: calc(100% - 0.07ch - 0.3ch);
  height: 10vh;
  background-color: #222266;
}

#progress {
  width: 0%;
  height: 100%;
  background-color: #00a8cc;
}
